html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.post-content p {
    color: #777;
    font-size: 15px;
    font-weight: bolder;
}

.field-comment-model_name, .field-comment-model_id {
    display: none;
}

body {
    /*background-image: url('../themes/basic/images/patterns/8.png');*/
    background: white;
}
.list-title {
    margin-bottom: 20px;
}

.hidden-header {
    height: 76px;
}

.navbar-default .navbar-nav > li.active > a {
    border-color: #00afd1;
    color: #00afd1;
    border-bottom: 2px solid;
    background-color: white;
}
.navbar-default .navbar-nav > li.active > a:hover {
    color: #00afd1;
    background-color: white;
}
.navbar-default .navbar-nav > li.active > a:after {
    opacity: 1;
}
#subscribe .form-group {
    float: left;
}
#subscribe .main-button {
    margin-left: 3px;
}
.error-summary {
    color: #FF9A9A;
    background: #222222;
    border-left: none;
    padding: 0;
    margin: 0;
}
.error-summary p {
    display: none;
}
.error-summary ul {
    float: left;
}
.syntaxhighlighter .gutter .line {
    border-right: 3px solid #00afd1 !important;
}
.syntaxhighlighter .toolbar {
    display: none;
}
.syntaxhighlighter .variable {
    color: #00afd1 !important;
}
.syntaxhighlighter .functions {
    color: #F16261 !important;
}
.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea {
    font-size: 15px !important;
    line-height: 1.3em !important;
}
.page-banner {
    background: none;
}
.navbar-brand > img {
    max-height: 105px;
}
.navbar-brand > img.logo-text {
    max-height: 22px;
}
.breadcrumbs-div {
    min-height: 36px;
}
.page-banner {
    padding-top: 15px;
}
.languages {
    float: right;
    margin-top: 15px;
}
.languages li {
    border-left: 2px solid #00afd1;
    padding-left: 15px;
}
.post-share a.vkontakte {
    background-color: #507CBE;
}
.post-share a.vkontakte:hover {
    background-color: #3E68A8;
}
.icon-vkontakte:before {
    content: '\ec7d';
}
